body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333333; }

.site {
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1em;
  width: 600px; }

a, a:visited {
  color: #0000aa; }

.post a {
  color: #333333;
  background-color: #fed9a6;
  text-decoration: none; }

h3, h4, h5 {
  margin-top: 1em;
  margin-bottom: 0.5em;
  border-top: 1px solid #777777;
  padding-top: 1em; }
  .page h3, .page h4, .page h5 {
    border-top: none; }

h4 {
  font-family: Verdana;
  font-style: italic; }

mark {
  background-color: #ffffaa;
  padding: 0 3px; }

img {
  margin: 1em auto;
  border: 2px solid #A00;
  display: block; }

.box {
  width: 85%;
  margin: 1em auto;
  padding: 1em;
  font: 0.8em/1.6em Verdana; }
  .box a {
    color: #333333;
    background: none;
    text-decoration: underline; }

.info,
.quote {
  border: 1px solid steelblue; }

#toc {
  background-color: #f5fafa; }

.info {
  background-color: #ccffcc; }

.quote {
  background-color: beige; }

.emphasis {
  background-color: #e5f5e0;
  font: 1em/1.5em Georgia; }

.info:before {
  content: "Note: ";
  font-weight: bold; }

.quote strong:first-child {
  font-weight: bold;
  font-variant: small-caps;
  font-family: Georgia; }

table {
  font: 0.8em/1.6em Georgia;
  color: #111111;
  border-spacing: 0;
  border-collapse: collapse; }
  table caption {
    text-align: center;
    margin-left: 0 auto;
    padding: 3px 10px;
    font: 1.2em/1.4em Georgia small-caps;
    background-color: #f5fafa;
    caption-side: top; }
  table th,
  table td {
    text-align: right;
    padding: 0 0.5em; }
  table td,
  table th,
  table tr {
    vertical-align: middle; }
  table td:hover,
  table th:hover {
    background-color: #ccffcc; }
  table tr:hover {
    background-color: #ffffaa; }

.highlight {
  overflow: auto;
  width: 85%;
  margin: 1em auto; }

.chart {
  overflow: auto; }

#history {
  margin: 1em auto;
  font-style: italic;
  text-align: center;
  border-top: 1px solid #777777;
  padding-top: 1em; }

/*
    * Prevents sub and sup affecting line-height in all browsers
    * gist.github.com/413930
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

@media only screen and (max-device-width: 600px) {
  .highlight {
    width: 99%; }

  table {
    color: #000; } }
@media print {
  body {
    background: #FFF !important;
    /** Converts relative URLs to absolute via CSS3
    cf. alistapart.com/articles/goingtoprint/ */
    /*#content a[href^="/"]:after {
        content: " (http://modrenman.com" attr(href) ") ";
    }*/
    /** <HTML5 Boilerplate> */
    /** cf. css-discuss.incutio.com/wiki/Printing_Tables */
    /** </HTML5 Boilerplate> */ }
    body .header,
    body .footer,
    body #history {
      display: none; }
    body a,
    body a:visited,
    body .post a {
      background: none !important;
      text-decoration: underline !important;
      color: #000 !important; }
    body table,
    body img,
    body ul, body ol, body li,
    body h1, body h2, body h3, body h4, body h5, body h6,
    body code, body pre,
    body blockquote,
    body .box,
    body .footnotes {
      page-break-inside: avoid; }
    body abbr:after {
      content: " (" attr(title) ")"; }
    body thead {
      display: table-header-group; }
    body p,
    body h1, body h2, body h3, body h4, body h5,
    body .box {
      orphans: 3;
      widows: 3; }
    body h1, body h2, body h3, body h4, body h5 {
      page-break-after: avoid; }
    body code,
    body pre,
    body .box {
      background: none !important;
      border-color: #777777; } }
