body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.site {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    padding: 0 1em;

}

a, a:visited { color: #00A; }

h3, h4, h5 {
    margin-top: 1em; margin-bottom: 0.5em;
    border-top: 1px solid #777;
    padding-top: 1em;
}

h4 {
    font-style: italic; font-family: Verdana;
}

#toc,
.box,
.highlight {
    width: 85%;
    margin: 1em auto;
}

#toc,
.box {
    padding: 1em;
    font: 0.8em/1.6em Verdana;
}

.info,
.quote {
    border: 1px solid steelBlue;
}

#toc { background-color: #F5FAFA; }
.info { background-color: #CCFFCC; }
.quote { background-color: beige; }
.info:before {
    content: "Note: ";
    font-weight: bold;
}

.quote strong:first-child {
    font-weight: bold;
    font-variant: small-caps;
    font-family: Georgia;
}

.highlight {
    overflow: auto;
}

.chart {
    overflow: auto;
}

#history {
    margin: 1em auto;
    font-style: italic;
    text-align: center;
    border-top: 1px solid #777;
    padding-top: 1em;
}

@media only screen and (max-device-width: 600px) {
    .site {
        width: 95%;
    }
}
