---
layout: default
title: ndarville.github.io
---
<div id="home">
    <h1>Posts</h1>
    <ul class="posts">
    {% for post in site.posts %}
        <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
    </ul>

<!--
    <h1>D3 Tutorials</h1>
    <ul class="posts tutorials">
    {% for post in site.posts %}
        {% if post.tags != empty %}
        <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endif %}
    {% endfor %}
    </ul>
-->

    <h1>Untold Stories</h1>
    <ul class="posts untold">
    {% for story in site.data.stories %}
        <li><span>{{ story.date }}</span> &raquo; <a href="{{ story.link }}">{{ story.title }}</a></li>
    {% endfor %}
    </ul>
</div>
