<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="">
        <title>{{ page.title }}</title>
        <link rel="canonical" href="{{ page.url }}" />
    <!--
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/custom.css">
        <link rel="stylesheet" href="/css/syntax.css">
    -->
        <link rel="stylesheet" href="/css/style.min.css?v=0.1">
        <link rel="alternate" type="application/atom+xml" title="Atom" href="/feed/index.xml" />
        <link rel="shortcut icon" href="/favicon.ico" />
        <meta name="twitter:creator" content="@pessimism">
    {% if page.title %}
        <meta property="og:title" content="{{ page.title }}">
    {% else %}
        <meta property="og:title" content="{{ site.name }}">
    {% endif %}
    {% if page.excerpt %}
        <meta property="og:description" content="{{ page.excerpt | markdownify | strip_html }}">
    {% endif %}
    {% if page.url %}
        <meta property="og:url" content="{{ site.url }}{{ page.url }}">
    {% endif %}
    {% if page.image %}
        <meta name="twitter:card" content="summary_large_image">
        <meta property="og:image" content="{{ site.url }}/assets/{{ page.slug }}/image.png">
    {% else %}
        <meta name="twitter:card" content="summary">
        <meta property"og:image" content="{{ site.url }}/identicon.png">
    {% endif %}
    </head>
    <body>
        <div class="site">
            <div class="header">
                <h1 class="title"><a href="/">{{ site.name }}</a></h1>
                <a class="extra" href="/">home</a>
                <a class="extra" href="/feed/index.xml">feed</a>
                <a class="extra" href="/links/">links</a>
                <a class="extra" href="https://github.com/ndarville/d3-charts/">d3-charts</a>
                <a class="extra" href="http://ndarville.com/">me</a>
            </div>

            {{ content }}

            <div class="footer">
                <div class="contact">
                    <p>
                        Website<br />
                        GitHub<br />
                        Twitter<br />
                    </p>
                </div>
                <div class="contact">
                    <p>
                        <a href="http://ndarville.com">ndarville.com</a><br />
                        <a href="https://github.com/ndarville">ndarville</a><br />
                        <a href="https://twitter.com/pessimism">pessimism</a><br />
                    </p>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-7184031-9']);
            _gaq.push (['_gat._anonymizeIp']);
            _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>
    </body>
</html>
